body {
  margin: 0;
  padding: 0;
  background-color: #111112;
}

.title {
  color: white;
  font-family: "Roboto Serif", sans-serif;
  text-align: center;
  font-size: 60px;
  margin: 15px;
  text-decoration: underline;
}

.info {
  color: white;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 30px;
  margin: 15px;
}